.card {
  background: white;
  // border: 1px solid lightslateblue;
  border-radius: 0.2rem;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15),
    1px 2px 5px 3px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-rows: 16rem auto auto 6rem;
  height: 100%;
  margin: 1rem;
  max-width: 32rem;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
}

.card__image {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.card__title {
  align-items: center;
  color: rgb(69, 1, 228);
  display: flex;
  font-size: 1.8rem;
  padding: 1.5rem;
  text-align: center;
}

.card__abstract {
  color: darkslategray;
  font-weight: 100;
  padding: 0 2rem;
}

.card__read-time {
  color: slategray;
  line-height: 6rem;
  text-align: center;
}
