.container {
  background-color: lightsteelblue;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.return-button {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #555;
  display: flex;
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100vw;
  font-size: 2.5rem;
}

.return-button:hover {
  color: white;
}

.content__container {
  height: 100vh;
  padding: 4rem;
  padding-top: 9rem;
  overflow-y: auto;
}

.disaster__container {
  margin-bottom: 3rem;
}

%header {
  color: slateblue;
  font-weight: 100;
  margin-bottom: 2rem;
}

.disaster__header {
  @extend %header;
  font-size: 3rem;
}

.disaster__list {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.disaster__list__label {
  color: darkslateblue;
  font-size: 1.8rem;
  font-weight: 900;
}

.disaster__description {
  font-size: 1.8rem;
  margin: 2rem 0;
  max-width: 60rem;
}

.description__toggle-button {
  background: none;
  border: 1px solid darkslateblue;
  border-radius: 1rem;
  color: darkslateblue;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

.description__toggle-button:hover {
  background: darkslateblue;
  color: lightsteelblue;
}

.articles__grid {
  display: grid;
  grid-auto-rows: 30rem;
  grid-gap: 2rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  justify-items: center;
}

.articles__header {
  @extend %header;
  font-size: 2.4rem;
}

.articles__error {
  font-size: 1.8rem;
}
